body {
  background-color: rgba(32, 153, 209, 0.801);
  margin: 0;
  padding: 0;
  text-align: center;
}

header{
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 10px 0;
}
.pregunta1{
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

section{
  border: 2px solid #0a0a0a;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  position: relative;
  }
  
label{
  display: block;
  padding: 20px;
  border-radius: 0%;
  cursor: pointer;
  border: px dashed #ccc;
  margin-bottom: 10px;
}
label:hover{
  background: #cec0fc;
  border-radius: 100px;
}

button{
  border: 2 px solid #0a0a0a;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

#body {
  width: 400px;
  height: 400px;
  
}
#p1{
  width: 600px;
  height: 400px;
  background-color: #fe39ee;
}


#fotosPerritos{
  width: 200px;
  height: 100px;
  text-align: center;
  
 }

  

/* hasta aqui va bien el css, ahora toda la energía en descubrir como hacer funcionar el js para interactuar con la pregunta 1 y si nos resulta lo replicamos en las demás preguntas de la trivia*/
  